VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyeWh5d3d4dGNhbWZjZ3l3cm9mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk4MDg3OTUsImV4cCI6MjA2NTM4NDc5NX0.KBbOs-elScVLinpQC8t2hXy7TLf-L88B5F0nfzUa4Bs
VITE_SUPABASE_URL=https://sryhywwxtcamfcgywrof.supabase.co 